.receive__title {
     color: black;
    font-size: 24px;
    font-weight: bold;
}

.receive__content, .payment__content {
    display: flex;
    flex-direction: column;
    width: 353px;
    padding-top: 20px;
}

.receive__subtitle, .payment__subtitle {
    padding: 12px;
    font-weight: bold;
}

.indicator-receive {
    padding-top: 380px;
}

.receive-amount {
    display: flex;
    flex-direction: column;
    width: 353px;
    height: 54px;
    border: 1px solid #E9E8EB;
    border-radius: 12px;
    padding: 20px;
}


.input-icon {
    position: relative;
}
.icon {
    position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%); 
  z-index: 1;
  color: #555;
}


.payment-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 36px;
    gap: 8px;
    cursor: pointer;
}

.payment-pic {
    background-color: #f7f7f7;
    border-radius: 100px;
    width: 48px;
    height: 48px;
}

.payment-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}

.payment-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}